{% extends "auctions/layout.html" %}
{% load static %}

{% block style %}
 <link href="{% static 'auctions/styles.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">
{% endblock %}



{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
    <a href="/listing/{{listing.pk}}" class="a_div">
        <div class="listing_container">
            <div class="listing_image">
                {% if listing.img_is_url %}
                    <img src="{{listing.img_url}}"></img>
                {% else %}
                    <img src="/media/{{listing.image}}"></img>
                {% endif %}
            </div>
            <div class="listing_content">
                <h5><strong> {{listing.title}} </strong></h5>
                <p><strong>Price:</strong> U${{listing.price}}</p>
                <p> {{listing.description}} </p>
                <small> {{listing.data_stamp}} </small>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}