{% extends "auctions/layout.html" %}
{% load static %}

{% block style %}
 <link href="{% static 'auctions/styles.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">
{% endblock %}



{% block body %}
<div class="show_listing_container"> 
    <div>
        <h3> {{listing.title}} </h3>
        <p> {{listing.is_active}} </p>
    </div>
    {% if in_watchlist %}
        <div class="watchlist">
            <p><strong>Watchlist</strong></p>
        </div>
    {% endif %}
    <div>
        <img src="/media/{{listing.image}}"></img>
    </div>

    <p>{{listing.description}}</p>
    <h4>U${{listing.price}}</h4>
    <div>
        <form method="post">
            {% csrf_token %}
            <label> {{bids}} bid so far: {% if message %}<strong style="color: red;">{{message}}</strong>{% endif %} </label>
            {{ bid_form }}
            <button type="submit" class="submit_btn">Place Bid</button>
        </form>
    </div>
    <div>
        <p><strong>Details</strong></p>
        <ui>
            <li>Listed by:<strong> {{listing.user_id|capfirst}} </strong></li>
            <li>Category: {{listing.category|capfirst}} </li>
        </ui>
    </div>
    <div>
        <p><strong>Comments:</strong></p>
        <form method="POST">
            {% csrf_token %}
            {{comment_form}}
            <button type="submit" class="submit_btn" style="background-color: grey;">Add Comment</button>
        </form>
        <ul>
            {% for comment in comments %}
                <li style="margin: 2px;"><strong>{{comment.user_id|capfirst}}:</strong> {{comment.comment}}</li>
            {% endfor %}
        </ul>
    </div>
    {% if request_user == listing.user_id %}
        <div>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="submit_btn" name="close" style="background-color: red;">Close</button>
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}